@model Obra
@{
        ViewData["Title"] = "Detalle de Obra";
}

<div class="row row-cols-sm-1 row-cols-md-2">
    <div class="col">
        <img src="@Model.UrlImagen" class="img-fluid" alt="@Model.Titulo" height="400" />
    </div>
    <div class="col">
        <h2>@Model.Titulo</h2>
        <p><strong>Estilo:</strong> @Model.Estilo</p>
        <p><strong>Artista:</strong> @Model.Artista.Nombre</p>
        <p><strong>País:</strong> @Model.Artista.Pais</p> 
        <a asp-controller="Exposicion" asp-action="Details" asp-route-id="@ViewBag.idExpo" class="btn btn-outline-primary">Volver a la expo</a>
    </div>  
</div>