@model ArticuloReseniaViewModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <h4>Articulo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Articulo.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Articulo.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Articulo.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Articulo.Descripcion)
            </dd>
            <dt class="col-sm-2">
                Categoria
            </dt>
            <dd class="col-sm-10">
                @Model.Articulo.Categoria?.Descripcion
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Articulo.precio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Articulo.precio)
            </dd>
        </dl>
        <div>
            <a class="btn btn-success" asp-controller="Resenias" asp-action="Create" accesskey="" asp-route-id="@Model?.Articulo.Id">Agregar Reseña</a> |
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Articulo.Id">Modificar</a>
                <a class="btn btn-outline-info" asp-action="Index">Volver</a>
            }
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h4>Reseñas</h4>
        <hr />
        @if (Model.Resenias != null && Model.Resenias.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Comentario</th>
                        <th>Calificación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resenia in Model.Resenias)
                    {
                        <tr>
                            <td>@* @resenia.Usuario *@</td>
                            <td>@resenia.Comentario</td>
                            <td>@resenia.Puntuacion</td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-sm btn-danger" asp-controller="Resenias" asp-action="Delete" asp-route-id="@resenia.Id">Eliminar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No hay reseñas disponibles para este artículo.</p>
        }
    </div>
</div>
