@model dominio.Disco

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Disco</h1>

<h3>Confirma eliminación</h3>
<div>
    <h4>Disco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCanciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCanciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlTapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlTapa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Volver al listado</a>
    </form>
</div>
