@model IEnumerable<dominio.Disco>

@{
    ViewData["Title"] = "Index";
}

<h1>Discos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCanciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlTapa)
            </th>
            <th>
                Estilo
            </th>
            <th>
                Tipo de Edición
             </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @item.FechaLanzamiento.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCanciones)
            </td>
            <td>
                <img src="@item.UrlTapa" alt="Tapa del disco" style="max-height:100px;" />
            </td>
            <td>
                 @item.Estilo?.Descripcion
            </td>
            <td>
                 @item.TipoEdicion?.Descripcion
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
